body {
	background: #CECECE;
}
.container {
	margin: 50px auto;
}
h3 {
	font-size: 60px;
	color: white;
	font-weight: bold;
}
.label {
	margin: 30px 20px;
}
.btn {
	color: #E5E5E5;
	background: #648F83;
}
.fa {
	padding: 5px;
}
.badge {
	font-size: 30px;
}